.navigation-container {
position: sticky;
top: 0;
left: 0;
z-index: 9999;
width: 100%;
background-color: #141214;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 120px;

}

.linear-gradient {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

.nav-image {
    margin-top: -20px;
    width: 250px;
    height: 110px;
    background-size: cover;
    background-position: center center;
}

nav li a {
    font-size: 0.9rem;
    font-weight: 500;
    color: #ffffff;
    transition: 0.3s ease;
}





@keyframes myAnimation {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}
nav li a.active {
z-index: 99999999999999999999;
color: black;
}

nav li a:hover {
color: black;
}

nav li a.active::before,
nav li a:hover::before {
    z-index: -10;
    color: #141214;
    content: "";
    width: 120px;
    height: 240%;
    background-color: #fff;
    position: absolute;
    top: -14px;
    left: 50%; /* changed from -50% to 50% */
    transform: translateX(-50%); /* added to center horizontally */
    border-radius: 4px;
    transition-delay: 1s; /* added delay */
    transition: all 1s ease; /* added transition */
}

nav li a:hover::before {
    transition-delay: 1.2s; /* Add a slight delay to the hover transition */
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
    height: 5rem;
box-shadow: 1px 11px 10px 0px rgba(0,0,0,0.81);
-webkit-box-shadow: 1px 11px 10px 0px rgba(0,0,0,0.81);
-moz-box-shadow: 1px 11px 10px 0px rgba(0,0,0,0.81);


}

nav li {
    list-style: none;
    position: relative;
}

.search-wrapper {
    display: flex;
    width: 100%;
}

nav li input {
    width: 100%;

}

.sign-in {
padding-left: 0.5rem ;
}

.sign-in-icon{
scale: 1.35;

}

.cart-nav-notification {
position: relative;
}

.nav-notification {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
top: -10px;
left: 85%;
padding-top: 2px;
font-weight: 400;
color: #fff;
width: 1.4rem;
height: 1.4rem;
font-size: 0.8rem;
border-radius: 50%;
background-color: #088178;
}

.sign-in-nav{

display: flex;

align-items: center;

}

.navbar li img {
width: 85px;
margin-top: 10px;
margin-right: 80px;
}