.ProductsPage {
  display: grid;
  gap:20px;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr) );
  width: 68%;
}

.ProductsPage-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.ProductsPage >* {

margin-left: auto;

margin-right: auto;
}