.login-container {
height: 100vh;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.login-wrapper {
position: absolute;
top : 15% ;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
width: 70%;
height: 80%;
display: grid;
grid-template-columns: 60% auto;
border-radius: 15px;
}

.login-wrapper .login-first-section {
height: 100%;
 border-top-left-radius: 14px; /* Adjust the radius as needed */
  border-bottom-left-radius: 14px; /* Adjust the radius as needed */background-image: url("../../assets/nikeAd.webp");
 }

.login-title-image img {
width: 130px;
}


.login-input-wrapper {

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.login-title-image {
display: flex;
align-items: center;
justify-content: center;
}

.login-title-name {
text-align: center;
}

.login-title-name h2 {
font-size: 35px;
font-family:Arial, Helvetica, sans-serif ;
 }

.login-body-input input {
border: unset ;
  outline-color: #171616d8 ;
 border-radius:4px ;
width: 100% ;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
height: 57px;
  padding: 8px 16px;
margin-bottom: 10%;
font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.28) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;

}

.login-body-input {
width: 78%;
margin-top: 10%;
}


.input-effect {
position: relative;
}

 
.input-effect  label {
position: absolute;
top : 20px ;
left: 15px;
font-size: 13.5px;
}

.input-effect input:focus + label {
  position: absolute;
  top: -22px;
  left: 5px;
  font-size: 13.5px;
  font-weight: bold;
}

.input-effect label {
  transition: top 0.3s, font-size 0.3s;
}
.login-fotter-input{
display: flex;
 width: 79%;
align-items: center;
justify-content: space-between;
}



.form-group {
  display: block;
 }

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
border-radius: 50%;
  border: 2px solid #687075;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #687075;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form-group input:not(:empty) + label {
  position: absolute;
  top: -22px;
  left: 5px;
  font-size: 13.5px;
  font-weight: bold;
}


*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-submit-buttons {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}


.login-submit-buttons button {
margin-top: 15%;
position: relative;
color: white;
outline: none;
border: none;
font-family:Arial, Helvetica, sans-serif ;
 width: 400px;
height: 60px;
border-radius: 5px;
cursor: pointer;
  background: linear-gradient(to left, black 70%, rgb(94, 91, 91));
}


.login-submit-buttons button p { 
font-weight: 400;
color: white;
}

.login-submit-buttons button img { 
position: absolute;
top: 5px;
right: 85%;
}
