.login-container {
height: 70vh;
display: flex;
transform: translateY(10%);
flex-direction: column;
align-items: center;
}

.login-wrrapper-box {

display: flex;
flex-direction: column;
align-items: flex-start;
width: 47%;
height: fit-content;
border-radius: 4px;
padding: 3rem;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.login-wrrapper-box .login-tile h5 {

  font-size: 1.1rem;
  padding-bottom: 3rem;

font-weight: 500;
}

.body-login {
width: 100%;
}

.body-login  .body-input-login {
position: relative;
width: 100%;
}



.body-login  .body-input-login > label {
width: 100%;
position: absolute;
font-size: 12.8px;
top: -60%;
font-weight: 600;
}
.password-login {
position: absolute;
top: -60%;

font-weight: 600;
font-size: 12.8px;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.login-password {
left: 80%;

}
.first-login {
margin-bottom: 40px;
}



.body-login  .body-input-login  input {
border: unset ;
  outline-color: #0b988fd8 ;
border-radius:4px ;
width: 100% ;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
height: 44px;
  padding: 8px 16px;

font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.second-login {



margin-bottom: 20px;

}


.checkbox-input  input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  box-shadow: unset;
  min-height: unset;
}

.login-container button {
margin: 30px 0;
border-radius: 4px;
outline: none;
border: none;
padding: 1rem;
width: 100%;

  background-color: #088178;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, #088178 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;


}



.login-link {

color: white;

font-weight: 600;

}

.create-account {
width: 100%;
color: #088178;
text-align: center;
}

.checkbox-input label {
margin-bottom: -1px;
font-size: 12.8px;
font-weight: 600;
}

.checkbox-input {
margin-top: 50px;
display: flex;
align-items:center;
flex-direction: row;
}

.login-password {
font-weight: 600;
color: #088178;
}

.login-container >h3 {

color: #088178;
margin-bottom: 50px;
}


.login-error-show input {


outline-color: red !important  ;

}

.body-input-login >  .login-error {
position: absolute;
color: red;
display: none;
}
 
 .login-error-show {
display: block !important ; 

}

.second-login {
margin-top: 10px;
}